*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Var color */
:root{
    --orange:#ff9800;
    --green: #009688;
    --red:#f44336;
    --whitesmoke:#f0faf9;
}
/* HEADER STYLING START*/

.header a img{
    width: 60px;
    object-fit: cover;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 500;
}

#navbarNav .contentRight button{
    margin: 0 30px;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    padding: 7px 20px;
    color: white;
    background-color: var(--orange);
    font-weight: 500;
}

#navbarNav .contentRight i{
    cursor: pointer;
}

     /* RESPONSIVE HEADER */
     @media screen and (max-width: 991px)  {
        .navbar-collapse .contentRight {
           float: left;
           display: flex;
           flex-direction: column;
        }

        #navbarNav .contentRight button , #navbarNav .contentRight i {
          margin-left: 11px;

        }

        #navbarNav .contentRight i  {
            padding-top: 15px;
        }
         
     }
/* HEADER STYLING END*/

/* BANNER START */


#banner .banner, .banner-container {
    position: relative;
    height: 100%;
}



#banner .card {
    width: 85%;
    border-radius: 4px;
    background-image: linear-gradient(to right,#1e6660,#009688 );
    border: none;
    
}

/* .container-left{
    display: flex;
    

  
} */

#banner .card button  {
    padding: 7px 15px;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    padding: 5px 20px;
    color: white;
    background-color: var(--red);
    font-weight: 500;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
} 

#banner .card p{
    padding: 80px 0;
}

#banner .card .buttons{
    text-align: center;
    padding-bottom: 80px;
    
}
#banner  .container-right{
    position: relative;
}
#banner  .banner-right img{
   height: 85%;
   width: 100%;
   object-fit: cover;
}

@media screen and (max-width: 767px ) {
    #banner  .banner-left {
        margin-bottom: 20px;
    } 
}

/* BANNER END */

/* SERVICE START */


.service {
    position: relative;
    height: 100%;
}

#service .service .card{
   border-radius: 15px;
   border:1px solid var(--green);
   height: 415px;

}


#service .service .card-left-service{
    background-color: var(--green);
    /* height: 70vh;
    width: 100%; */
}

#service .service .card-left-service .item{
    
    flex-wrap: wrap;
    padding:0 30px;
    /* width: 80%; */
  
}
#service .service .card-left-service  .itemBox{
    display: flex;
    flex-wrap: wrap;
}

#service .service .card-left-service  .itemBox .itemSide{
    margin: 0 50px;
}
#service .service .card-left-service .itemX {
   display: flex;
   align-items: center;
   margin-bottom: 25px ;
}
#service .service .card-left-service .itemX img {
    width: 40px; 
    margin-right: 20px;
   
 
}

#service .service .card-left-service .item h5{
    font-size: 16px;
}




#service .service .card-right-service button , #coach .coach button, #partener button{
    padding: 7px 15px;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    padding: 5px 20px;
    color: white;
    background-color: var(--red);
    font-weight: 500;

}

#service .service  h1{
    font-size: 22px;
}



/* COUR STYLLING */
.cour .cour-box {
    text-align: center;
}
.cour .cour-box img{
  width: 110px;
}

.cour .cour-row  :nth-child(1) .card {
    border-radius: 15px;
    border: 1px solid #f44336;
    color:#f44336;
}

.cour .cour-row  :nth-child(2) .card {
    border-radius: 15px;
    border: 1px solid #009688;
    color:#009688;
}

.cour .cour-row  :nth-child(3) .card {
    border-radius: 15px;
    border: 1px solid #ff9800;
    color:#ff9800;
}

.cour .cour-row  :nth-child(4) .card {
    border-radius: 15px;
    border: 1px solid #009688;
    color:#009688;
}

/* Diploma stylling */

#diploma {
    background-color: var(--red);
    overflow-x: hidden;
    margin-top: 50px;
}

#diploma .diploma {
    padding:50px 0 0 105px ;
}

#diploma .diploma  .diplo-box{
    display: flex;
    padding-top:40px ;
  
}

 .diploma .diplo .diplo-box img {
    margin-right: 15px;
}

.diplo p {
    margin-left:65px;
    font-size: 14px;
}


#diploma .wave {
    width: 100%;
}

/* COACH STYLLING */
#coach .coach {
    width: 100%;
}

#coach {
    overflow-x: hidden;
}
#coach .coach .head-coach {
    padding:0 105px;
}

#coach .coach  .button ,#partener .button, #partener .partener .partener-item{
    display: flex;
    justify-content: center;
    text-align: center;
}

#coach .coach .coach-card img{
    width: 200px;
    height: 190px;
    object-fit: cover;
}


#coach .coach .coach-card .card{
    border: 1px solid var(--green);
}


/* activity stylling */

#activity{
    background-color: var(--red);
    overflow: hidden;
}
/* 
#activity .gallery {
    height: 350px;
    position: relative;

}
*/
.gallery .gall img  {
    width:100% ;
    height: 100%;
    object-fit: cover;

}

.gallery .gall2 img {
    width: 100%;
    height: 53%;
    padding-bottom:28px ;
    object-position: top;
    object-fit: cover;
}  

.gallery .gallery-content {
    width: 100%;
    height: 53%;
}

.gallery .gallery-content span{
    margin-top: 50px;
}


/* partener stylling */
#partener {
    overflow-x: hidden;
}
#partener .partener .head-partener{
    padding: 80px 115px 50px 115px;
}

#partener .partener .partener-item{
    flex-wrap: wrap;
    display: flex;
    padding: 50px 130px;
    
}

#partener .partener .partener-box{
    background-color: var(--whitesmoke);
}

/* footer stylling */

#footer{
    margin-top: 100px;
    background-color: var(--green);
}

footer .footer i {
    margin-right: 10px;
    font-size: 22px;
}

/* #footer .footer .item-footer-x h6 {
    padding-bottom: 10px;
} */

#footer .footer  {
    display: flex;
    justify-content: center;
    background-color: var(--green);
    padding: 50px 0 110px 0;
 
}

#footer .footer .item-footer .item-footer-h {
    line-height: 1px;
}

#footer .footer .item-footer .item-footer-h p {
    font-size: 14px;
}

#footer .footer .item-footer  {
    margin: 0 60px;
}